input {
    width: 95%;
    height: 25px;
    border-radius: 10px;
    background-color: lightgray;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

#submit {
    background-color: rgb(245, 245, 245);
    width: 80px;
}

.form1 {
    border: 2px solid black;
    width: 30%;
    margin: auto;
    margin-top: 10%;
}

