

body {
    background-color: black;
    color: rgb(55, 255, 37);
    margin: 0px auto;
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 500px;
    height: 200px;
    margin: 0px -50px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 220px;
    height: 200px;
    float: left;
    margin: 0px 15px;
}

.right {
    width: 220px;
    height: 200px;
    float: right;
    margin: 0px 15px;

}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 150px;
    width: 100px;
    height: 40px;
}

h1 {
    font-family: "Lucida Console";
    width: 400px;
}

h3 {
    font-family: "Lucida Console";
    width: 200px;
    margin: 0 0px 0 70px;
}

input {
    font-family: "Lucida Console";
    margin: 0 0px 0 40px;
}

div {
    font-family: "Lucida Console";
    color: rgb(55, 255, 37)
}

#one {
    margin: 0px 0px 0px 90px;
}

#two {
    margin: 0px 0px 0px 85px;
}